(
  assets_dir: "assets",
  output_dir: "output",
  lighting_settings: (
    emitted: 1.0,
    ambient: 1.0,
    direct: 1.0,
    indirect: 1.0
  ),
  probe_settings: (
    max_generation: 5,
    min_weight: 1.0e-2
  ),
  scenes: {
    "my_scene": (
      ambient: 0x333333,
      occlusion: Some((
        samples: 64,
        distance: 1.0,
        strength: 1.0e1,
        falloff: 2.0,
      )),
      lights: [
        Directional (
          direction: (0.0, 0.0, -1.0),
          colour: 0xFFFFFF
        ),
      ],
      objects: [
        (
          geometry: Mesh ( path: "assets/meshes/leaves.obj" ),
          material: Transparent ( transparency: 0.5 ),
          shader: Iridescent ( gradient: [
            0xFF0000,
            0xFF4000,
            0xFF8000,
            0xFFBF00,
            0xFFFF00,
            0x80FF00,
            0x00FF00,
            0x00FF80,
            0x00FFFF,
            0x0080FF,
            0x0000FF,
            0x8000FF,
          ], power: 1.0 ),
          transform: (
            scale: 1.0,
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0)
          )
        ),
        (
          geometry: Mesh ( path: "assets/meshes/tree.obj" ),
          material: Opaque,
          shader: Gradient ( gradient: [0xB5651D, 0x673400], power: 1.0 ),
          transform: (
            scale: 1.0,
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0)
          )
        ),
        (
          geometry: Circle (
            centre: (0.0, 0.0, -1.0e-3),
            radius: 6.0e1
          ),
          material: Opaque,
          shader: Checkerboard (
            size: 1.0,
            colour_a: 0xDDDDDD,
            colour_b: 0xAAAAAA
          )
        )
      ],
      captures: {
        "my_capture": (
          camera: Perspective (
            position: (1.0e1, 1.0e1, 17.0),
            look_at: (0.0, 0.0, 2.5),
            vertical_fov: 55.0
          ),
          images: {
            "my_image": (
              resolution: (1080, 1080),
              super_samples: 1
            )
          }
        )
      }
    )
  }
)
