(
  assets_dir: "assets",
  output_dir: "output",
  scenes: {
    "my_scene": (
      ambient: 0x333333,
      occlusion: Some((
        samples: 64,
        distance: 1.0,
        strength: 1.0
      )),
      lights: [
        Directional (
          direction: (-3.0, -2.5, -3.0),
          radiance: 0xFFFFFF,
          angular_radius: Some(5.0),
          samples: None
        )
      ],
      objects: [
        (
          geometry: Mesh ( path: "assets/meshes/pyramid.obj" ),
          material: Opaque,
          shader: Solid ( colour: 0x00FFFF ),
          transform: (
            translation: (40.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 25.0),
            scale: 2.0
          )
        ),
        (
          geometry: Mesh ( path: "assets/meshes/pyramid.obj" ),
          material: Opaque,
          shader: Solid ( colour: 0xFF00FF ),
          transform: (
            translation: (0.0, 40.0, 0.0),
            rotation: (0.0, 0.0, 15.0),
            scale: 7.0
          )
        ),

        (
          geometry: Torus (
            centre: (0.0, 0.0, 0.0),
            major_radius: 2.0,
            minor_radius: 0.5
          ),
          material: Opaque,
          shader: Iridescent (
            gradient: [0xFF0000, 0xFFFF00],
            power: 1.0
          ),
          transform: (
            scale: 4.0,
            translation: (0.0, 0.0, 5.0),
            rotation: (0.0, 0.0, 150.0)
          )
        ),
        (
          geometry: Circle (
            centre: (0.0, 0.0, -1.0e-3),
            radius: 5.0e1
          ),
          material: Opaque,
          shader: Checkerboard (
            size: 1.0,
            colour_a: 0x00DD00,
            colour_b: 0x00AA00
          )
        )
      ],
      captures: {
        "my_capture": (
          camera: Perspective (
            position: (0.0, 1.0e2, 0.5e2),
            look_at: (0.0, 0.0, 5.0),
            vertical_fov: 15.0
          ),
          images: {
            "my_image": (
              resolution: (480, 480),
              super_samples: 1
            )
          }
        )
      }
    )
  }
)
