ImageConfig (
    background: 0x00000000,
    camera: Perspective(
        position: (10.0, 10.0, 3.0),
        look_at: (0.0, 0.0, 1.0),
        vertical_fov: 15.0,
    ),
    renders: {
        "preview": (
            resolution: (400, 300),
            background: Some(0x00000000),
            super_samples: 1
        ),
        "detailed": (
            resolution: (800, 600),
            background: Some(0x00000000),
            super_samples: 4
        ),
    }
)
